body {
  background-color: #262323;
  font-family: 'Roboto Mono', monospace;
}

h1, h2, h3, p, button {
  color: #06cf10;
}

.app {
  margin-top: 20px;
  margin-bottom: 20px;
}

.alert {
  background-color: inherit;
}

.alert-success {
  color: #06cf10;
  border-color: #06cf10
}

.alert-danger {
  color: red;
  border-color: red;
}

.alert-success button {
  color: #06cf10 !important;
}

.alert-danger button {
  color: red !important;
}

.button-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-group button {
  margin-top: 10px;
}

.header img {
  max-height: 100px;
}

.header {
  margin-bottom: 2%;
}

.header h1 {
  font-size: 40px;
}

.header h2 {
  font-size: 20px;
}

.footer {
  margin-top: 8%;
}

.footer .row {
  padding-bottom: 10px;
}

.footer h2 {
  font-size: 20px;
}

.footer h2 i {
  font-size: 40px;
}

.v-divider {
  border-right: 1px solid;
}

#discord-row, #discord-row h2, #discord-row a {
  color: #7289DA;
}

#instagram-row, #instagram-row h2, #instagram-row a {
  color: #F56040;
}