.calendar .react-calendar__month-view__weekdays {
  text-align: center;
  border-style: solid;
  box-sizing: border-box;
  border-width: 2px;
  color: #06cf10;
}

.calendar {
  margin-top: 15px;
}

.meeting {
  color: white !important;
}
.past-date {
  color: #dae639 !important;
}

.date-editor {
  margin-top: 20px;
}

table {
  margin-top: 0;
}

div p {
  color: white;
  font-size: 16px;
}

#zoom-a {
  color: blue;
}

#zoom-checkbox {
  color: black;
}

form a {
  word-wrap: break-word;
  overflow: hidden;
  display: inline;
}

#zoom-button {
  color: #0E71EB !important;
  border-color: #0E71EB !important;
  margin-bottom: 3%;
}