h1 Meeting Reminder
p This email is to remind you of a Coding Club meeting tomorrow, #{date}, from #{startTime}-#{endTime}
br
p If there is a problem with these automated emails, please contact my owner #[a( href='mailto:justinparrondo@gmail.com') Justin Parrondo].
